# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [1]:
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')

Hello!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [2]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

In [6]:
#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [5]:
# Python academy unit 1
# Module 1.1 practice
# Kurt, 2010-10-22

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [8]:
# [ ] print your name
print('Kurt')
# [ ] print "is using Python"
print('is using Python!')

Kurt
is using Python!

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [9]:
# [ ] create a variable your_name and assign it a sting containing your name
your_name='Kurt'
#[ ] print your_name
print(your_name)

Kurt

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [10]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song, shoe_size, lucky_number = 'superfreak', 47, 42

# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song)
print(shoe_size)
print(lucky_number)

superfreak
47
42

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [12]:
# [ ] print favorite_song with description
print('favorite song: '+favorite_song)

# [ ] print shoe_size with description
print('shoe size (eur): ' + str(shoe_size))

# [ ] print lucky_number with description
print('lucky number: ' + str(lucky_number))

favorite song: superfreak
shoe size (eur): 47
lucky number: 42

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [13]:
# assign favorite_lucky_shoe using

print('Shouting "'+favorite_song+'" anywhere between '+str(lucky_number)+\
' and ' + str(shoe_size) + ' times will summon the magical ' +\
      favorite_song + ' fairy. Just try!')

Shouting "superfreak" anywhere between 42 and 47 times will summon the magical superfreak fairy. Just try!

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [23]:
# [ ] print a diagonal using "*"
for i in range(50):
    print(i*' '+'*')

# [ ] rectangle using "*"
print('*'*6)
print('*    *')
print('*    *')
print('******')

# [ ] smiley using "*"
# source: http://loveascii.com/smilies.html
print('')
print('')
print('                    ****                  ****')
print('                 *        *            *        *')
print('                *           *         *           *')
print('                     **                    **')
print('                   *    *                *    *')
print('                  *      *              *      *')
print('                  *      *              *      *')
print('                  *    ***              *    ***')
print('                  *   ****              *   ****')
print('                   * ****                * ****')
print('                    ***         ***       ***')
print('                               *   *')
print('                               *   *')
print('                **              ***             **')
print('              **                                  **')
print('            ***                                    ***')
print('               **                                **')
print('                 **                             **')
print('                   ****                      ****')
print('                        ***               ***')
print('                            ****     ***')
print('')
print('')

*
 *
  *
   *
    *
     *
      *
       *
        *
         *
          *
           *
            *
             *
              *
               *
                *
                 *
                  *
                   *
                    *
                     *
                      *
                       *
                        *
                         *
                          *
                           *
                            *
                             *
                              *
                               *
                                *
                                 *
                                  *
                                   *
                                    *
                                     *
                                      *
                                       *
                                        *
                                         *
                                          *
                                           *
                                            *
                                             *
                                              *
                                               *
                                                *
                                                 *
******
*    *
*    *
******


                    ****                  ****
                 *        *            *        *
                *           *         *           *
                     **                    **
                   *    *                *    *
                  *      *              *      *
                  *      *              *      *
                  *    ***              *    ***
                  *   ****              *   ****
                   * ****                * ****
                    ***         ***       ***
                               *   *
                               *   *
                **              ***             **
              **                                  **
            ***                                    ***
               **                                **
                 **                             **
                   ****                      ****
                        ***               ***
                            ****     ***

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [26]:
# [ ] display the type of 'your name' (use single quotes)

type('your name')

str

In [27]:
# [ ] display the type of "save your notebook!" (use double quotes)

type("save your notebook!" )

str

In [30]:
# [ ] display the type of "25" (use quotes)

type("25")

str

In [31]:
# [ ] display the type of "save your notebook " + 'your name'

type("save your notebook "+'Kurt')

str

In [32]:
# [ ] display the type of 25 (no quotes)

type(25)

int

In [33]:
# [ ] display the type of 25 + 10 

type(25+10)

int

In [34]:
# [ ] display the type of 1.55

type(1.55)

float

In [42]:
# [ ] display the type of 1.55 + 25

type(1.55 + 25)

float

In [43]:
# [ ] display the type of round(1.0)

type(round(1.0))

int

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [44]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [46]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [47]:
# [ ] display the type of student_age
type(student_age)

int

In [48]:
# [ ] display the type of student_grade
type(student_grade)

float

In [50]:
# [ ] display the type of student_age + student_grade
type(student_age+student_grade)

float

In [49]:
# [ ] display the current type of student_id
type(student_id)

str

In [51]:
# assign new value to student_id 
student_id = '000'+student_id

# [ ] display the current of student_id
print(student_id)

000ABC-000-000

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [52]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x,y,z = 1,2,3

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [55]:
xyz_sum=sum([x,y,z])
print(xyz_sum)

6

### Errors
- **[ ]** troubleshoot and fix the errors below

In [57]:
# [ ] fix the error 
# removed extra " at the end
print("Hello World!")

Hello World!

In [58]:
# [ ] fix the error 
# added quotes
print('strings have quotes and variables have names')

strings have quotes and variables have names

In [59]:
# [ ] fix the error
# converted 5 to string
print( "I have $" + str(5))

I have $5

In [61]:
# [ ] fix the error 
# added a few quotes
print("'always save the notebook'")

'always save the notebook'

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [63]:
# [ ] ASCII ART
# from http://patorjk.com/software/taag/#p=display&f=Doom&t=KURT
print('')
print(' _   ___   _______ _____ ')
print('| | / / | | | ___ \_   _|')
print('| |/ /| | | | |_/ / | |  ')
print('|    \| | | |    /  | |  ')
print('| |\  \ |_| | |\ \  | |  ')
print('\_| \_/\___/\_| \_| \_/  ')
print('                        ')
print('')

 _   ___   _______ _____
| | / / | | | ___ \_   _|
| |/ /| | | | |_/ / | |
|    \| | | |    /  | |
| |\  \ |_| | |\ \  | |
\_| \_/\___/\_| \_| \_/

In [78]:
print(repr("\ "))

'\\ '

In [80]:
# [ ] ASCII ART
# monkey from http://www.ascii-art.de/ascii/mno/monkey.txt
#
# Holy mother of escaping... couldn't get it to work with raw strings
# replacements
# 1. escape double quotes (" -> \")
# 2. escape backslashes (\ -> \\)
# 3. add print("") statements (\n -> ")\nprint(")
print("             .--.  .-\"     \"-.  .--.")
print("            / .. \\/  .-. .-.  \\/ .. \\")
print("           | |  '|  /   Y   \\  |'  | |")
print("           | \\   \\  \\ 0 | 0 /  /   / |")
print("            \\ '- ,\\.-\"`` ``\"-./, -' /")
print("             `'-' /_   ^ ^   _\\ '-'`")
print("             .--'|  \\._ _ _./  |'--.")
print("           /`    \\   \\.-.  /   /    `\\")
print("          /       '._/  |-' _.'       \\")
print("         /          ;  /--~'   |       \\")
print("        /        .'\\|.-\\--.     \\       \\")
print("       /   .'-. /.-.;\\  |\\|'~'-.|\\       \\")
print("       \\       `-./`|_\\_/ `     `\\'.      \\")
print("        '.      ;     ___)        '.`;    /")
print("          '-.,_ ;     ___)          \\/   /")
print("           \\   ``'------'\\       \\   `  /")
print("            '.    \\       '.      |   ;/_")
print("     jgs  ___>     '.       \\_ _ _/   ,  '--.")
print("        .'   '.   .-~~~~~-. /     |--'`~~-.  \\")
print("       // / .---'/  .-~~-._/ / / /---..__.'  /")
print("      ((_(_/    /  /      (_(_(_(---.__    .'")
print("                | |     _              `~~`")
print("                | |     \\'.")
print("                 \\ '....' |")
print("                  '.,___.')")

             .--.  .-"     "-.  .--.
            / .. \/  .-. .-.  \/ .. \
           | |  '|  /   Y   \  |'  | |
           | \   \  \ 0 | 0 /  /   / |
            \ '- ,\.-"`` ``"-./, -' /
             `'-' /_   ^ ^   _\ '-'`
             .--'|  \._ _ _./  |'--.
           /`    \   \.-.  /   /    `\
          /       '._/  |-' _.'       \
         /          ;  /--~'   |       \
        /        .'\|.-\--.     \       \
       /   .'-. /.-.;\  |\|'~'-.|\       \
       \       `-./`|_\_/ `     `\'.      \
        '.      ;     ___)        '.`;    /
          '-.,_ ;     ___)          \/   /
           \   ``'------'\       \   `  /
            '.    \       '.      |   ;/_
     jgs  ___>     '.       \_ _ _/   ,  '--.
        .'   '.   .-~~~~~-. /     |--'`~~-.  \
       // / .---'/  .-~~-._/ / / /---..__.'  /
      ((_(_/    /  /      (_(_(_(---.__    .'
                | |     _              `~~`
                | |     \'.
                 \ '....' |
                  '.,___.')

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft