#### Task 1: multi-part

In [8]:
# [ ] show the type after assigning bucket = a whole number value such as 16 
bucket = 42
type(bucket)

int

In [10]:
# [ ] show  the type after assigning bucket = a word in "double quotes"
bucket = "Zweiundvierzig"
type(bucket)

str

In [11]:
# [ ] display the type of "12" (use quotes)
type("12")

str

In [12]:
# [ ] display the type of 12 (no quotes)
type(12)

int

In [13]:
# [ ] display the type of -12 (no quotes)
type(-12)

int

In [14]:
# [ ] display the type of 12.0 (no quotes)
type(12*1.0)

float

In [15]:
# [ ] display the type of 1.55
type(1.55)

float

In [16]:
# [ ] find the type of the type(3) statement (no quotes) - just for fun
type(type(3))

type