## Python scripting academy 1.2
Kurt

#### Task 1

In [6]:
# Strings with single and double quotes
print("Double quote string")
print('Single quote \
String')

Double quote string
Single quote String

#### Task 2 - integers

In [16]:
# Numbers
# printing an integer
print(1234)
# printing a string made of integer characters
print('1001110101')

1234
1001110101

#### Task 3 - Variables

In [22]:
# Step 0: assigning the varriable current_msg
# the value provided in the instructions
current_msg = "Run this cell using Ctrl+Enter"
# First: print the variable current_msg
print(current_msg)
# Second: assign a new value, print again
current_msg = 'The latest, greatest, raddest message'
print(current_msg)

Run this cell using Ctrl+Enter
The latest, greatest, raddest message

#### Task 4: Multi-Part

In [23]:
# a) Assign a variable and print the value
student_name = "Donald Duck"
print(student_name)

Donald Duck

In [26]:
# [ ] assign the student_name variable  a different string value (a different name)
student_name = 'Daniel Düsentrieb'
# [ ] print the value of variable student_name
print(student_name)
# [ ] assign a 3rd different string value, to the variable name 
name = 'Dagobert Duck'
# [ ] print the value of variable name
print(name)

Daniel Düsentrieb
Dagobert Duck

In [28]:
# [ ] assigning a value to a variable called bucket
bucket = {'l','i','s','t'}
# [ ] print the value of bucket 
print(bucket)
# [ ] assign an Integer value (no quotes) to the variable bucket
bucket = 42
# [ ] print the value of bucket 
print(bucket)

{'i', 's', 'l', 't'}
42

In [44]:
# not what I expected when printing the set
# let's try again
bucket = {'l','i','s','t'}
print({1,2,3,4})
print({'l','i','s','t'})
print(type(bucket))
# maybe as a list?
bucket2 = list(bucket)
print(bucket2)
print(type(bucket2))
bucket3 = list({'l','i','s','t'})
print(bucket3)
print(type(bucket3))

{1, 2, 3, 4}
{'i', 's', 'l', 't'}
<class 'set'>
['i', 's', 'l', 't']
<class 'list'>
['i', 's', 'l', 't']
<class 'list'>

In [68]:
# this is getting annoying...
# trying to make a list of characters that stays in order
bucket4=['l','i','s','t']
bucket4
print(type(bucket4))
print('finally...')
bucket4[3]

<class 'list'>
finally...

't'

In [66]:
# [ ] print integer 123 number
print(123)
# [ ] print string "123" number
print('123')

123
123